@font-face {
  font-family: "norsebold";
  src:
    url("fonts/norsebold.woff2") format("woff2"),
    url("fonts/norsebold.woff") format("woff");
}

body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;
}

div#parent {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
}

/* Left Column */
div#left-child {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    min-width: 40%;
    height: 100vh;
    position: relative;
    
}

img#unsplash {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

div#odin-banner {
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 22%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;

}

img#odin {
    width: 80px;
}

h1#odin-text {
    font-family: "norsebold", Arial, Helvetica, sans-serif;
    font-size: 6rem;
    color: white;
    margin: 0;
}

p#credit {
    position: absolute;
    bottom: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

a {
    color: white;
}

/* Right Column */
div#right-child {
    box-sizing: border-box;
    background-color: #f9fafb;
    height: 100vh;
    overflow-y: auto;
}

div#right-child > * {
    padding-left: 3rem;
}

div#container-one {
    box-sizing: border-box;
    margin-top: 8rem;
    margin-bottom: 3rem; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

div#description {
    padding-right: 15vw;
}

div#container-two {
    box-sizing: border-box;
    background-color: white;
    padding-bottom: 1.5rem;
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.12);
}

form {
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 800px;
}

p#form-title {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1.5rem;
}

form > div {
    box-sizing: border-box;
    width: 290px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

label {
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    letter-spacing: 0.2ch;
    font-weight: bold;
    color: #49515c;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

input {
    box-sizing: border-box;
    border-radius: 5px;
    border: 0.25px solid #E5E7EB;
    background-color: #fffefe;
    padding: 8px;
    width: 235px;
    height: 30px;
}

div#container-three {
    box-sizing: border-box;
    margin-top: 4em;
}

button#form-submit {
    box-sizing: border-box;
    border-radius: 9px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 550;
    letter-spacing: 0.1ch;
    height: 45px;
    width: 225px;
    background-color: #596d48;
    color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.12);
}

div#container-three p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #49515c;
    margin-top: 2rem;
}

div#container-three p b {
    color: #49515c;
}

input:hover:not(:focus) {
    background-color: #f7f7f7;
}

input:focus {
    outline: none;
    border: 1px solid #1D4ED8;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

input[required]:invalid:not(:focus) {
    border: 1px solid #B91C1C;
}

button#form-submit:hover:not(:focus) {
    background-color: #3d4a31;
}

input:focus {
    outline: none;
    border: 1px solid #1D4ED8;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}